* {
    margin: 0;
}

body {
    background-color: #e8f5ff;
    font-family: Arial;
    overflow: hidden;
}





 .card {
    background-color: #ffffff55;
    border-radius: 18px;
    box-shadow: 2px 2px 10px 0 rgba(114, 114, 114, 0.824);
    height: auto;

    padding: 2% 0 2% 5%;
    width: 55%;
    margin: 2% auto 2% auto ;
}

@media only screen and (max-width: 480px) {
    .card {
    width: 90%;
    }
    .card button{
        font-size: 0.9em;
    }
}
 .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 100%;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

button{
    font-family: sans-serif;
    outline: 0;
    background: #f2f2f2bf;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.131);
    outline: 0;
    background: #4caf50;

    padding: 0.9em;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #1a5d1d;
}
/* TextStyle */
td {

    color: #252525ce;
    text-shadow: 2px 3px 7px rgba(206, 89, 55, 0.77);

}
/* header */

header {
    width: 100%;
    
    background: #76b852; /* fallback for old browsers */
    background: rgb(141, 194, 111);
    background: linear-gradient(
        90deg,
        rgb(141, 194, 111) 0%,
        rgba(118, 184, 82, 1) 50%
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header img{
    width: 7%;
    border-radius: 50%;
}

header button,img{
    margin:0 1.9em 0 1.9em;
}
/* Footer */
footer {
    width: 100%;
    padding: 3% 0;
    background: #76b852; /* fallback for old browsers */
    background: rgb(141, 194, 111);
    background: linear-gradient(
        90deg,
        rgb(141, 194, 111) 0%,
        rgba(118, 184, 82, 1) 50%
    );
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}