header {
    width: 100%;
    
    background: #76b852; /* fallback for old browsers */
    background: rgb(141, 194, 111);
    background: linear-gradient(
        90deg,
        rgb(141, 194, 111) 0%,
        rgba(118, 184, 82, 1) 50%
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header img{
    width: 7%;
    border-radius: 50%;
}

header button,img{
    margin:0 1.9em 0 1.9em;
}
/* Footer */
footer {
    width: 100%;
    padding: 3% 0;
    background: #76b852; /* fallback for old browsers */
    background: rgb(141, 194, 111);
    background: linear-gradient(
        90deg,
        rgb(141, 194, 111) 0%,
        rgba(118, 184, 82, 1) 50%
    );
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

input,button{
    font-family: sans-serif;
    outline: 0;
    background: #f2f2f2bf;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.131);
    outline: 0;
    background: #4caf50;

    padding: 0.9em;
    color: #ffffff;
    cursor: pointer;
}

body {
    margin: 0%;
    padding: 0%;
}
